@charset "utf-8";
.container{
    width: 1000px;
    min-width: 1000px;
}
.part1{
    position: relative;
    top: -1px;
    height: 300px;
    background-color: #000;
    width: 100%;
    overflow: hidden;
}
.part1 .prev-bg{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#000 0%,#000 20%,rgba(0,0,0,.7) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 300px;
}
.part1 .next-bg{
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left,#000 0%,#000 20%,rgba(0,0,0,.7) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    z-index: 2;
    height: 300px;
}
.part1 .part1-head{
    height: 30px;
}
.part1 .part1-head h3{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
}
.part1 .part1-head h3 i{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background: url("../images/albumList/album_icon.png") no-repeat;
    background-position: -14px -14px;
    vertical-align: bottom;
}
.part1 .part1-con{
    position: relative;
    height: 255px;
}
.part1 .part1-con ul{
    width: 6000px;
    margin-top: 15px;
    position: absolute;
    left: -203px;
}
.part1 .part1-con ul li{
    font-size: 0;
    width: 188px;
    float: left;
    margin-right: 15px;
}
.part1 .part1-con ul li .part1-img{
    width: 186px;
    height: 186px;
    display: block;
    border: 1px solid #444;
    border-radius: 2px;
    transition: all linear .3s;
}
.part1 .part1-con ul li .part1-img:hover{
    transform: scale(1.15);
    transition: all linear .3s;
}
.part1 .part1-con ul li .part1-img img{
    width: 100%;
    height: 100%;
}
.part1 .part1-con ul li p.songName{
    margin-top: 12px;
}
.part1 .part1-con ul li p.songName a{
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-size: 16px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.part1 .part1-con ul li p.singer{
    margin-top: 6px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.part1 .part1-con ul li p.singer a{
    color: #888;
    font-size: 14px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.part1 .part1-con ul li p a:hover{
    color: #28a913;
}
.part1 .part1-con .part1-btn a{
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    margin-top: -54px;
    z-index: 3;
}
.part1:hover .part1-con .part1-btn a{
    display: block;
}
.part1 .part1-con .part1-btn a.prev{
    left: -40px;
    background: url("../images/albumList/arrow_l.png") no-repeat;
}
.part1 .part1-con .part1-btn a.prev:hover{
    background: url("../images/albumList/arrow_l_hover.png") no-repeat;
}
.part1 .part1-con .part1-btn a.next{
    right: -40px;
    background: url("../images/albumList/arrow_r.png") no-repeat;
}
.part1 .part1-con .part1-btn a.next:hover{
    background: url("../images/albumList/arrow_r_hover.png") no-repeat;
}


.part2{
    width: 100%;
    position: relative;
    padding: 10px 0;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    background-color: #fff;
}
.part2 .part2-item{
    margin-top: 5px;
}
.part2 .part2-item h3{
    color: #666;
    font-size: 16px;
    font-weight: normal;
    float: left;
    margin-right: 20px;
    height: 32px;
    line-height: 32px;
}
.part2 .part2-item ul{
    width: 830px;
    float: left;
}
.part2 .part2-item ul li{
    float: left;
    margin-right: 15px;
    height: 28px;
    line-height: 28px;
}
.part2 .part2-item ul li a{
    display: inline-block;
    color: #888;
    font-size: 14px;
    padding: 0 7px;
    border-radius: 3px;
}
.part2 .part2-item ul li a:hover{
    color: #28a913;
}
.part2 .part2-item ul li.cur a{
    color: #fff;
    background-color: #28a913;
}
.part2 .part2-item ul li.cur a:hover{
    color: #fff;
}
.part2 .part2-item .more{
    color: #28a913;
    font-size: 14px;
    float: right;
    margin-top: 7px;
}
.part2 .part2-item .more i{
    display: inline-block;
    width: 0;
    height: 0;
    border-color: #28a913 transparent transparent transparent;
    border-width: 4px;
    border-style: solid;
    margin-left: 8px;
}


.part3{
    margin-top: 10px;
}
.part3 ul{
    margin-right: -25px;
}
.part3 ul li{
    width: 180px;
    margin: 0 25px 20px 0;
    float: left;
    font-size: 0;
}
.part3 ul li .part3-img{
    position: relative;
    display: block;
    width: 178px;
    height: 178px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}
.part3 ul li .part3-img .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.part3 ul li .part3-img:hover .cover{
    background-color: rgba(0,0,0,.3);
}
.part3 ul li .part3-img img{
    width: 178px;
    height: 178px;
    transition: all linear .3s;
}
.part3 ul li .part3-img:hover img{
    transform: scale(1.15);
    transition: all linear .3s;
}
.part3 ul li .songName{
    margin: 10px 0 5px;
}
.part3 ul li .songName a{
    color: #333;
    font-size: 14px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.part3 ul li .singer a{
    color: #888;
    font-size: 12px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.part3 ul li p a:hover{
    color: #28a913;
}




