@charset "utf-8";
.container{
    width: 1000px;
    min-width: 1000px;
}
.part1 .head-title{
    position: relative;
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #e2e2e2;
}
.part1 .head-title h3{
    color: #000;
    font-size: 20px;
    font-weight: normal;
    float: left;
}
.part1 .head-title ul{
    float: right;
}
.part1 .head-title ul li{
    float: left;
}
.part1 .head-title ul li h4{
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    padding: 0 20px 0 5px;
}
.part1 .head-title ul li.cur h4{
    color: #28a913;
    font-size: 18px;
    border-bottom: 2px solid #28a913;
}
.part1 .head-title ul li h4 i{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 7px;
    background: url("../images/dissList/nav_icons.png") no-repeat;
    background-position: 0 -255px;
    vertical-align: middle;
}
.part1 .head-title ul li h4.title2 i{
    background-position: 0 -38px;
}
.part1 .head-title ul li h4.title3 i{
    background-position: 0 -147px;
}
.part1 .head-title ul li h4.title4 i{
    background-position: 0 -110px;
}
.part1 .head-title ul li h4.title5 i{
    background-position: 0 -74px;
}
.part1 .head-title ul li h4.title6 i{
    background-position: 0 -219px;
}
.part1 .head-title ul li h4.title7 i{
    background-position: 0 -183px;
}
.part1 .head-title ul li.cur h3{
    border-bottom: 2px solid #28a913;
}
.part1 .head-title ul li .sub-title{
    z-index: 5;
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px 0 10px 26px;
    font-size: 0;
}
.part1 .head-title ul li.cur .sub-title{
    display: block;
}
.part1 .head-title ul li .sub-title ol li{
    width: 108px;
    float: left;
    height: 40px;
    line-height: 40px;
}
.part1 .head-title ul li .sub-title ol li a{
    color: #444;
    font-size: 14px;
}
.part1 .head-title ul li .sub-title ol li a:hover{
    color: #28a913;
}
.part1 .part1-list{
    margin-right: -28px;
    font-size: 0;
}
.part1 .part1-list .part1-item{
    width: 227px;
    float: left;
    margin: 20px 28px 0 0;
    border: 1px solid #e2e2e2;
}
.part1 .part1-list .part1-item:hover{
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}
.part1 .part1-list .part1-item .part1-item-img{
    display: block;
    position: relative;
    width: 229px;
    height: 229px;
    overflow: hidden;
    left: -1px;
    top: -1px;
}
.part1 .part1-list .part1-item .part1-item-img img{

    width: 229px;
    height: 229px;
    transition: all linear .2s;
}
.part1 .part1-list .part1-item .part1-item-img .cover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.part1 .part1-list .part1-item .part1-item-img:hover .cover{
    background: rgba(0,0,0,.2);
}
.part1 .part1-list .part1-item .part1-item-img:hover img{
    transition: all linear .2s;
    transform: scale(1.1);
}
.part1 .part1-list .part1-item h3{
    height: 37px;
    line-height: 37px;
    margin: 0 12px;
    border-bottom: 1px solid #d1d1d1;
}
.part1 .part1-list .part1-item:hover h3 a{
    color: #28a913;
}
.part1 .part1-list .part1-item h3 a{
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.part1 .part1-list .part1-item ul li{
    color: #999;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.part1 .part1-list .part1-item ul li a{
    color: #999;
    font-size: 12px;
}
.part1 .part1-list .part1-item ul li a:hover{
    color: #28a913;
}

.part1 .pageAll{
    font-size: 0;
    margin-top: 30px;
    float: left;
    border-right: 1px solid #eee;
}
.part1 .pageAll span{
    font-size: 12px;
    color: #000;
    display: inline-block;
    width: 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #eee;
}
.part1 .pageAll a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-right: none;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
}
.part1 .pageAll a:hover{
    border: 1px solid #28a913;
}
.part1 .pageAll a.cur{
    color: #fff;
    background-color: #28a913;
}
.part1 .pageAll a.next{
    width: 75px;
}
.part1 .pageAll a.next i{
    width: 8px;
    height: 16px;
    display: inline-block;
    margin-left: 10px;
    background: url("../images/btns.png") no-repeat;
    background-position: -25px -189px;
    vertical-align: sub;
}